<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form action="/users" method="POST">
            <label for="title">User name</label>
            <input type="text" name="user_name" id="user_name">

            <button class="btn">Add User</button>
        </form>
    </div>

    {{>fotter}}
</body>
</html>