<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form action="../views/users" method="POST">
            <label for="title">User name</label>
            <input type="text" name="user name" id="user_name">

            <button class="btn">Add User</button>
        </form>
    </div>

    
</body>
</html>